@import '../component/app/_app.scss';

html {
  position: relative;
  head, link, script {
    display: none;
    text-decoration: none;
  }

  body {
    position: relative;
    // background-color: $color-primary;
    // background-color: white;
    background-image: url('../assets/rose.jpg');
    // background-repeat: no-repeat;
    // background-position: center;
    background-size: 50%;
  }

  span, em, strong, i {
    display: inline;
  }
}