@import '../component/app/_app.scss';

html {
  position: relative;
  head, link, script {
    display: none;
    text-decoration: none;
  }

  body {
    position: relative;
    background-color: $color-primary;
  }

  span, em, strong, i {
    display: inline;
  }
}