@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

// $font-main: 'Bungee Shade';
// $font-main: 'Over The Rainbow';
$font-main: Baskerville, serif;
$font-secondary: 'Helvetica';
$color-primary: cornsilk;
$color-secondary: darkSlateGray;
$color-tertiary: darkRed;
$pad: 0.5em;