@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

$font-main: 'Bungee Shade';
$font-secondary: 'Helvetica';
$color-primary: cornsilk;
$color-secondary: darkSlateGray;
$color-tertiary: darkRed;
$pad: 0.5em;