h1{
  text-align: center;
  font-size: 2em;
}

nav, main {
  margin: 0 auto;
  width: 960px;
  border-radius: 10px;
  text-align: center;
  
  li {
    display: inline-block;
    width: 100px;
  }
  
  a {
    color: black;

    &:hover {
      color: cornsilk;
    }
  }
}

main {
  margin: 0 auto;

  img {
    border-radius: 10px;
    margin: 10px auto;
    max-width: 100%;
  }
}