h1 {
  text-align: center;
  font-size: 5em;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 30px;
  // text-shadow: 5px 5px lightPink;
  color: cornsilk;
  transform: rotate(-180deg);

  &:hover {
    transition: 2s;
    transform: rotate(180deg);
  }
}

nav, footer {
  margin: 0 auto;
  width: 960px;
  border-radius: 10px;
  text-align: center;
  
  li {
    display: inline-block;
    width: 100px;
  }
  
  a {
    color: black;

    &:hover {
      color: cornsilk;
      // background-color: rgb(226, 220, 196);
    }
  }
}

footer {
  margin: 0 auto;

  img {
    border-radius: 10px;
    margin: 10px auto;
    max-width: 100%;
    position: relative;
  }

  p {
    position: absolute;
    bottom: 0;
  }
}

footer {

  text-align: center;

  ul.icons {
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    // margin: 0 auto;
    float: left;


    a {
    padding: 40px;
    margin: 10px;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    width: 100%;
    }
  }
}

main {
  margin: 0 auto;
  width: 100%;
}

.rectangle1 {  
  display: inline-block;
  margin:50px;
  overflow: hidden;
  width:100px;
  height:200px;
  // border:1px dashed black;
  transform:rotate(45deg);
  position: relative;
  border-radius: 10px;
  float: left;


    img {
    display: block;
    transform:rotate(-45deg);
    transform-origin:left center;
    width: 600px;
    position: absolute;
    bottom: 30;
    // right: 50;
    // top: 50;    

    &:hover {
      transition: 2s;
      transform: rotate(360deg);
    }
    }
}

.rectangle2 {
  display: inline-block;
  margin:50px;
  overflow:hidden;
  width:100px;
  height:200px;
  // border:1px dashed black;
  transform:rotate(45deg);
  position: relative;
  border-radius: 10px;
  float: left;

    img {
      display: block;
      transform:rotate(-45deg);
      transform-origin:left center;
      width: 350px;
      position: absolute;
      bottom: 30;

      &:hover {
        transition: 2s;
        transform: rotate(360deg);
      }
      }
    }


.rectangle3 {
  display: inline-block;
  margin:50px;
  overflow:hidden;
  width:100px;
  height:200px;
  // border:1px dashed black;
  transform:rotate(45deg);
  position: relative;
  border-radius: 10px;
  float: left;

    img {
      display: block;
      transform:rotate(-45deg);
      transform-origin:left center;
      width: 400px;
      position: absolute;
      bottom: 30;
      margin-right: 0;

      &:hover {
        transition: 2s;
        transform: rotate(360deg);
      }
      }
    }

.rectangle4 {
  display: inline-block;
  margin:50px;
  overflow:hidden;
  width:100px;
  height:200px;
  // border:1px dashed black;
  transform:rotate(45deg);
  position: relative;
  border-radius: 10px;
  float: left;

    img {
      display: block;
      transform:rotate(-45deg);
      transform-origin:left center;
      width: 600px;
      position: absolute;
      bottom: 30;
      margin-right: 0;

      &:hover {
        transition: 2s;
        transform: rotate(360deg);
      }
      }
    }

.rectangle5 {
  display: inline-block;
  margin:50px;
  overflow:hidden;
  width:100px;
  height:200px;
  // border:1px dashed black;
  transform:rotate(45deg);
  position: relative;
  border-radius: 10px;
  float: left;

    img {
      display: block;
      transform:rotate(-45deg);
      transform-origin:left center;
      width: 600px;
      position: absolute;
      bottom: 30;
      margin-right: 0;

      &:hover {
        transition: 2s;
        transform: rotate(360deg);
      }
      }
    }

.rectangle6 {
  display: inline-block;
  margin:50px;
  overflow:hidden;
  width:100px;
  height:200px;
  // border:1px dashed black;
  transform:rotate(45deg);
  position: relative;
  border-radius: 10px;
  float: left;

    img {
      display: block;
      transform:rotate(-45deg);
      transform-origin:left center;
      width: 400px;
      position: absolute;
      bottom: 30;
      margin-right: 0;

      &:hover {
        transition: 2s;
        transform: rotate(360deg);
      }
      }
    }


.expandImage1 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.expandImage2 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.expandImage3 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.expandImage4 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.expandImage5 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.expandImage6 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}